.display-1 {
	font-size: 48pt;
}
.display-4 {
	font-size: 14pt;
}
.page-header{
	text-align: center;
	color: #CC5178;
    padding-top: 0px;
	margin-top: 0px;
	background-color: #4A2D3E;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
	border-bottom: 0px;
	z-index:10;
}
.content-container{
	margin-top: 96px;	
	margin-left: 12px;
	margin-right: 12px;
	z-index:1;
}    
.card{
    
}
.home-out{}
.home-in {}
.create-account{}
.insert-expense{}
.account-history{}